*.sdf
*.vcxproj.user
*.VC.opendb
.vs

xcuserdata
*.xcworkspace
xcshareddata

WSATestCertificate.pfx*

UnityProject/*.csproj
UnityProject/*.sln
UnityProject/Library
UnityProject/Temp
UnityProject/UWP
UnityProject/Logs
UnityProject/Builds

PluginSource/build
PluginSource/projects/Android/libs/*
PluginSource/projects/Android/obj/*

U2G_Client/x64/*
x64/*
DummyServer/x64/*

*.tlog
*.obj
*.pdb
*.ipdb
DummyServer/x64/Release/vc143.pdb
DummyServer/x64/Release/main.obj
DummyServer/x64/Release/DummyServer.tlog/link.write.1.tlog
DummyServer/x64/Release/DummyServer.tlog/link.read.1.tlog
DummyServer/x64/Release/DummyServer.tlog/link.command.1.tlog
DummyServer/x64/Release/DummyServer.tlog/CL.write.1.tlog
DummyServer/x64/Release/DummyServer.tlog/CL.read.1.tlog
DummyServer/x64/Release/DummyServer.tlog/CL.command.1.tlog
DummyServer/x64/Release/DummyServer.log
DummyServer/x64/Release/DummyServer.ipdb
DummyServer/x64/Release/DummyServer.iobj
DummyServer/x64/Release/CCTVServer.obj

EncodingClient/x64/*
*.suo
.~lock.Packet structure documentation.odt\#

EncodingClient/timings.csv

UnityProject/Assets/Plugins/x86_64/Unity2GStreamerPlugin.dll
